table.Rtable1 {
    font-family: "Arial", Arial, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10pt;
}
.Rtable1 th, .Rtable1 td {
    border: 0;
    text-align: center;
    padding: 0.5ex 1.5ex;
    margin: 0px;
}
.Rtable1 thead>tr:first-child>th {
    border-top: 2pt solid black;
}
.Rtable1 thead>tr:last-child>th {
    border-bottom: 1pt solid black;
}
.Rtable1 tbody>tr:last-child>td {
    border-bottom: 2pt solid black;
}
.Rtable1 th.grouplabel {
    padding-left: 0;
    padding-right: 0;
}
.Rtable1 th.grouplabel>div {
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    border-bottom: 1pt solid black;
}
.Rtable1 th.grouplabel:last-child>div {
    margin-right: 0;
}
.Rtable1 .rowlabel {
    text-align: left;
    padding-left: 2.5ex;
}
.Rtable1 .firstrow {
    padding-left: 0.5ex;
    font-weight: bold;
}

/* Zebra stripes */
.style2 tbody tr:nth-child(odd) {
    background-color: #eee;
}

table.style3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 11pt;
}
.style3 th {
    background-color: #ccc;
}
.style3 th,  .style3 td {
    border-left: 1pt solid black;
    border-right: 1pt solid black;
}
.style3 thead>tr:first-child>th {
    border-top: 1pt solid black;
}
.style3 thead>tr:last-child>th {
    border-bottom: 1pt solid black;
}
.style3 tbody>tr:last-child>td {
    border-bottom: 1pt solid black;
}
.style3 .firstrow, .style3 .firstrow ~ td {
    border-top: 1pt solid black;
}

.style4 td {
    white-space:nowrap;
}
.style4 td.firstrow {
    font-weight: normal;
}
.style4 td.rowlabel {
    font-weight: bold;
    text-align: center;
    padding-left: 2.5ex;
    padding-right: 2.5ex;
}

