/* Default */
.Rtable1 table, table.Rtable1 {
    font-family: "Arial", Arial, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    /* margin-bottom: 10pt; */
}
.Rtable1 td {
    white-space:nowrap;
}
.Rtable1 th, .Rtable1 td {
    border: 0;
    text-align: center;
    padding: 0.5ex 1.5ex;
    margin: 0px;
}
.Rtable1 thead>tr:first-child>th {
    border-top: 2pt solid black;
}
.Rtable1 thead>tr:last-child>th {
    border-bottom: 1pt solid black;
}
.Rtable1 tbody>tr:last-child>td {
    border-bottom: 2pt solid black;
}
.Rtable1 th.grouplabel {
    padding-left: 0;
    padding-right: 0;
}
.Rtable1 th.grouplabel>div {
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    border-bottom: 1pt solid black;
}
.Rtable1 th.grouplabel:last-child>div {
    margin-right: 0;
}
.Rtable1 .rowlabel {
    text-align: left;
    padding-left: 2.5ex;
}
.Rtable1 .firstrow.rowlabel {
    padding-left: 0.5ex;
    font-weight: bold;
}

/* Zebra stripes */
.Rtable1-zebra tbody tr:nth-child(odd) {
    background-color: #eee;
}

/* Times font */
table.Rtable1-times {
    font-family: "Times New Roman", Times, serif;
}

/* Shade style */
.Rtable1-shade th {
    background-color: #ccc;
}

/* Grid style */
.Rtable1-grid th, .Rtable1-grid td {
    border-left: 1pt solid black;
    border-right: 1pt solid black;
}
.Rtable1-grid thead>tr:first-child>th {
    border-top: 1pt solid black;
}
.Rtable1-grid thead>tr:last-child>th {
    border-bottom: 1pt solid black;
}
.Rtable1-grid tbody>tr:last-child>td {
    border-bottom: 1pt solid black;
}
.Rtable1-grid .firstrow, .Rtable1-grid .firstrow ~ td {
    border-top: 1pt solid black;
}
.Rtable1-grid th.grouplabel>div {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
}

/* Center style */
.Rtable1-center td.rowlabel, .Rtable1-center td.firstrow.rowlabel {
    font-weight: bold;
    text-align: center;
    padding: 0.5ex 1.5ex;
}

/* Footnote */
.Rtable1-footnote {
    font-size: smaller;
    padding: 0px;
    margin: 0px;
}

